# Don't track content of these folders
node_modules/
target/
bin/
manifest.yaml
# don't track hidden files
.*
!/.mvn
!/.gitignore
!/.mvn/wrapper/maven-wrapper.properties
application.properties
pipeline-secrets.yml