body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: #efefefef;
}
.message-window {
  width: 50%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: block;
  margin-top: 100px;
  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
}
.message-list {
  list-style-type: none;
}
.date {
  font-size: 9px;
  color: #666;
}
