body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: #efefefef;
  line-height: 1.5em;
  padding: 50px;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.user-form {
  width: 50%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: block;
  top: 40%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
}
.user-form .btn {
  margin: 15px;
}
.message-window {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  padding-top: 30px;
  display: block;
  margin-top: 50px;
  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
  overflow: scroll;
  border-radius: 15px;
}
.message-list {
  list-style-type: none;
  padding: 20px;
}
.message-list li {
  margin-bottom: 10px;
}
.message-list li:last-child {
  color: purple;
}
.chat-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.message-form {
  width: 100%;
  display: block;
}
.message-form input {
  margin-left: 100px;
  width: 250px;
  height: 40px;
}

button {
  width: 50px;
  height: 50px;
}

.date {
  font-size: 9px;
  color: #888;
  line-height: 9px;
  text-indent: 20px;
}
.username {
  font-style: italic;
}
.welcome-pane {
  text-align: center;
}
.message-text {
  font-size: 18px;
  font-weight: bold;
}
